#box{
	height: 200px;
	width: 200px;
	background-color: red;
	box-sizing: border-box;
	margin: 100px auto;
	padding: 50px;
	cursor: pointer;

}
#box:hover{
	box-shadow: 0 0 30px gray;
}
#content{
	text-align: center;
	font-size: 2rem;
}